@model IEnumerable<TechReviews.Models.Review>

@{
    ViewBag.Title = "Index";
}

<a class="btn btn-default" href="@Url.Action("Create", "Reviews")">Create New &raquo;</a></p>

<h2 class="otherHeaders">Reviews</h2>
<hr />

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div>
                <img class="img-responsive img-thumbnail" src=@Html.DisplayFor(modelItem => item.ProductImg) />
                <span id="catType"> @Html.DisplayFor(modelItem => item.Category.Type)</span>
            </div>
            
            <div>
                <h4 class="title"> @Html.DisplayFor(modelItem => item.Title)</h4>
            </div>
            <hr />

            @Html.DisplayFor(modelItem => item.Content)

            @Html.DisplayFor(modelItem => item.PublishDate)

            @Html.DisplayFor(modelItem => item.Rating)

            @Html.DisplayFor(modelItem => item.Price)

            @Html.DisplayFor(modelItem => item.Budget)
            
            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
        </div>
    }
    </div>
    </table>
